.table-view{
    -fx-background-color: transparent;
    -fx-fill: white;
}

.table-view.column-header-background{
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;

}
.table-view.column-header, .table-view.filler{
    -fx-size:40;
    -fx-border-width: 0 0 0 10;
    -fx-background-color: transparent;
}

.table-view.column-header.label{
    -fx-fill: white;
}